* {
    margin: 0px;
    font-family: "inter", sans-serif;
    box-sizing: border-box
}

body {
    width: 100%;
    height: auto;
}

main {
    background-color: blue;
    padding: 20px;
    margin: 30px auto;
}

h1{
    color: blue;
    margin-bottom: 10px;
}

.digital-cv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    grid-template-areas: 
     "item1 item1 item3 item5"
     "item2 item2 item4 item5"
    ;
}

.content-wrapper {
    border-top: 1.5px solid #000;
}

.item {
    background-color:rgb(245, 255, 255);
    padding: 18px;
}

.item1 {
   grid-area: item1;
}
.content-item1 {
    display: flex;
    gap: 40px;
    padding: 10px 20px;
    border-bottom: 1px solid gray;    
}

.item2 {
   grid-area: item2;
}
.content-item2 {
    display: flex;
    gap: 40px;
    padding: 10px 20px;
}

.item3 {
    grid-area: item3;
}
.content-item3 {
    display: flex;
    gap: 25px;
    padding: 10px;
}

.item4 {
    grid-area: item4;
}
.content-item4 {
    display: flex;
    gap: 25px;
    padding: 10px;
}

.item5 {
    grid-area: item5;
}
.content-item5 {
    display: flex;
    gap: 25px;
    padding: 10px;
}

.content-number {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 42px;
    height: 40px;
    background-color:cornflowerblue;
    border-radius: 50%;
}

.bd-item5 {
    border-bottom: 1px dotted blue ;
}

@media only screen and (max-width:768px) {
    .digital-cv {
        display: inline-block;
    }

    .item {
       margin-bottom: 20px;
    }

    .content-item1, 
    .content-item2,
    .content-item3,
    .content-item4,
    .content-item5 {
        display: block;
    }

    .content-scopes {
        margin-bottom: 20px;
    }

    .icon {
        text-align: center;
    }
}


